/* Jackson */


/*  MAIN CONTENT SECTION  */
.main {
    padding: 3%;
}

#concerts-heading {
    font-size: calc(16px + .8vw);
    color: #367BCA;
    margin-bottom: 2%;
}

/* Search Section */
#search-area {
    margin-bottom: 2%;
}

#search-input {
    width: 15%;
    padding: 1% 2%;
    font-size: calc(10px + .3vw);
    border: 2px solid #355C96;
    color: #1a1a1a;
    transition: width 0.4s ease-in-out;
}

#search-input:hover {
    border: 2px solid #367BCA;
}

#search-input:focus {
    width: 25%;
}

/* FILTER BUTTONS */
#myBtnContainer {
    margin-bottom: 2%;
    width: 100%;
}

.btn {
    border: 2px ridge #0d315a;
    /* outline: none - from W3Schools
    https://www.w3schools.com/cssref/pr_outline.asp
    Outline controls the line drawn outside an element's border, often used by browsers
    to indicate keyboard functions. "none" removes the default browser focus outline on filter buttons
    so they appear cleaner when clicked. */
    outline: none;
    padding: 1% 2%;
    background-color: #367BCA;
    color: #F1D302;
    /* cursor: pointer; from W3Schools https://www.w3schools.com/cssref/pr_class_cursor.php
       changes the mouse pointer appearance when hovering over an element. "pointer" shows a hand
       icon when hovering over filter buttons, which signals to the user that the element is clickable.
     */
    cursor: pointer;
    font-size: calc(10px + .3vw);
    font-weight: bold;
    margin: .5% .5% .5% 1.15%;
}

.btn:hover {
    background-color: #367BCA;
    color: #ffffff;
}

.btn:active {
    background-color: #18206f;
    color: #d88373;
    font-size: calc(10px + .28vw);
}

/*  COLLAPSE ALL BUTTON  */
#collapse-all-btn {
    border: 1px solid #DFBC1E;
    background-color: #367BCA;
    color: #F1D302;
    padding: 1% 2%;
    font-size: calc(10px + .3vw);
    /* cursor: pointer; from W3Schools https://www.w3schools.com/cssref/pr_class_cursor.php
       changes the mouse pointer appearance when hovering over an element. "pointer" shows a hand
       icon when hovering over filter buttons, which signals to the user that the element is clickable.
     */
    cursor: pointer;
    margin-bottom: 2%;
    margin-left: 1%;
}

#collapse-all-btn:hover {
    background-color: #367BCA;
}

#collapse-all-btn:active {
    padding: .85% 1.85%;
}


/* CONTAINER FOR CARDS */
.container {
    display: flex;
    /* flex-wrap: wrap; controls whether flex items are forced onto one line or
       can wrap onto multiple lines. It is used to allow concert cards to flow onto the
       next row when there is not enough horizontal space for them side by side.
       https://www.w3schools.com/cssref/css3_pr_flex-wrap.php
    */
    flex-wrap: wrap;
    margin-bottom: 10%;
    margin-top: 2%;
    align-items: flex-start;
    background-color: #bab9b9;

    padding: 5% 1% 5% 1%;
    border-radius: 5px;
    border: 15px solid rgb(158 157 157 / 0.57);
}

/* CARDS */
.filterDiv {
    background-color: #ffffff;
    border: 2px solid #367BCA;
    width: 47%;
    margin: 1%;
    display: none;
}

.card-body {
    padding: 4%;
    background-color: #f1efef;
}

/* CARD TOP AND LEFT SECTION */
.card-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-left {
    width: 55%;
    padding-right: 3%;
}

/* CARD RIGHT SECTION */
.artist-name {
    font-size: calc(14px + .4vw);
    color: #0C2340;
    margin-bottom: 1%;
}

.card-right {
    width: 45%;
}

.tour-name {
    font-size: calc(10px + .3vw);
    color: #367BCA;
    margin-bottom: 3%;
}

.concert-details {
    list-style: none;
    font-size: calc(10px + .3vw);
    color: #333333;
    margin-bottom: 3%;
    /* line height sets the vertical space between lines of text. It is used here to
    add 1.8 spacing between each of the concert detail line to improve readability.
    https://www.w3schools.com/cssref/pr_dim_line-height.php
     */
    line-height: 1.8;
}

/* EXPAND BUTTON */
.expand-btn {
    border: 1px double #F1D302;
    background-color: #367BCA;
    color: #F1D302;
    padding: 2% 4%;
    font-size: calc(10px + .3vw);
    /* cursor: pointer; from W3Schools https://www.w3schools.com/cssref/pr_class_cursor.php
       changes the mouse pointer appearance when hovering over an element. "pointer" shows a hand
       icon when hovering over filter buttons, which signals to the user that the element is clickable.
     */
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;
}

.expand-btn:hover {
    background-color: #367BCA;
}

.expand-btn:active {
    padding: 1.75% 3.75%;
}

/* PHOTOS OF ARTIST */
.artist-photo {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    display: block;
    margin-bottom: 0;
    border-radius: 5px;
    border: 2px double #6f98b5;
}

/* CARD DETAILS */
.card-details {
    margin-top: 2%;
}

.concert-description {
    font-size: calc(10px + .3vw);
    color: #555555;
    /* line height sets the vertical space between lines of text. It is used here to
    add 1.6 spacing between each of the concert detail line to improve readability.
    https://www.w3schools.com/cssref/pr_dim_line-height.php
     */
    line-height: 1.6;
    margin-bottom: 4%;
}

/* CARD ACTIONS */
.card-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-primary {
    padding: 2% 4%;
    border: 2px ridge #F1D302;
    background-color: #367BCA;
    color: #F1D302;
    text-decoration: none;
    font-size: calc(10px + .3vw);
    font-weight: bold;
    margin-right: 2%;
    /* cursor: pointer; from W3Schools https://www.w3schools.com/cssref/pr_class_cursor.php
       changes the mouse pointer appearance when hovering over an element. "pointer" shows a hand
       icon when hovering over filter buttons, which signals to the user that the element is clickable.
     */
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #1868c3;
    color: #F1D302;
}

.btn-primary:active {
    padding: 1.85% 3.85%;
}

/* SECONDARY BUTTON (Seating chart) */
.btn-secondary {
    padding: 2% 4%;
    background-color: #F1D302;
    color: #367BCA;
    border: 2px ridge #367BCA;
    font-size: calc(10px + .3vw);
    /* cursor: pointer; from W3Schools https://www.w3schools.com/cssref/pr_class_cursor.php
       changes the mouse pointer appearance when hovering over an element. "pointer" shows a hand
       icon when hovering over filter buttons, which signals to the user that the element is clickable.
     */
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #cdb401;
    color: #367BCA;
}


.btn-secondary:active {
    padding: 1.85% 3.85%;
}

/* SEATING CHART */
.seating-chart {
    margin-top: 3%;
}

.seating-img {
    width: 100%;
    height: 30vw;
    object-fit: contain;
    display: block;
}

/* SELLING FAST SECTION */
#selling-fast {
    background-color: #367BCA;
    padding: 3%;
    margin-bottom: 3%;
    border: 3px ridge #18206f;
}

#selling-fast h2 {
    font-size: calc(14px + .5vw);
    color: #f5e2c8;
    margin-bottom: 2%;
}

#selling-fast-choice h3 {
    font-size: calc(12px + .4vw);
    color: #ffffff;
    margin-bottom: 1%;
}

#selling-fast-choice p {
    font-size: calc(10px + .3vw);
    color: #cccccc;
    /* line height sets the vertical space between lines of text. It is used here to
    add 1.6 spacing between each of the concert detail line to improve readability.
    https://www.w3schools.com/cssref/pr_dim_line-height.php
     */
    line-height: 1.6;
    margin-bottom: 2%;
}

#selling-fast-btn {
    padding: 1% 3%;
    background-color: #F1D302;
    color: #367BCA;
    border: 3px ridge #ffffff;
    font-size: calc(10px + .3vw);
    /* cursor: pointer; from W3Schools https://www.w3schools.com/cssref/pr_class_cursor.php
       changes the mouse pointer appearance when hovering over an element. "pointer" shows a hand
       icon when hovering over filter buttons, which signals to the user that the element is clickable.
     */
    cursor: pointer;
    font-weight: bold;
}

#selling-fast-btn:hover {
    background-color: #a38f01;
}

#selling-fast-btn:active {
    padding: .85% 2.85%;
}

