


/*  HEADER SECTION */
header {

    padding: 0% 3%;
    display: flex; 
    flex-direction: row;
    align-items: center;
    position: static;
    z-index:10;
    width: fit-content;
 
}

 


#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#site-logo {
    width: 14%;
    height: auto;
    object-fit: contain;
    margin-right: 7%;
    
}

#site-title h1 {
    font-size: calc(16px + 2vw);
    color: #d88373;
}

#site-title{ 


}



#slogan {
    font-size: calc(10px + 1vw);
    color: #f5e2c8;
    top: -15%;
    position: relative;
}


/*  NAV SECTION */
nav {

    padding: 0 3%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    display: flex;
    

}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
        gap: 10px;
    display: flex;
    width: 100%;

    justify-content: flex-end;

}

nav ul li {
    display: block;
    padding: 1% 2%;
    color: #ffffff;
    font-size: calc(10px + 1.25vw);
 


    
}

nav ul li a {
    text-decoration: none;
    color: #f5e2c8;

}

nav ul li a:link {
}

nav ul li a:visited {
}

nav ul li a:hover {
    background-color: #d88373;
    color: #50190f;
}

nav ul li a:active {
    color: #f5e2c8;

}

.dropdown {
    position: relative;


}

.dropdown-content {
    display: none;
    position: absolute;
    
    top: 100%;
    left: -50px;
    background-color: #50190f;
    z-index: 1;
    border: 2px solid #d88373;
    border-top: none;
    min-width: 180px;
}

.dropdown-content a {
    display: block;
    padding: 4% 6%;
    color: #ffffff;
    text-decoration: none;
    font-size: calc(10px + 0.75vw);
    border-bottom: 1px solid #d88373;
}

.dropdown-content a:link {
}

.dropdown-content a:visited {
}

.dropdown-content a:hover {
    background-color: #50190f;
    color: #d88373;
}

.dropdown-content a:active {
    padding: 3% 5%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.headerContainerDiv{
    display: flex; 
    flex-direction: row;
    gap: 0px; 

    background-color: #18206f;

}

 

.shoppingCart :active{
     opacity: 0.5;
}