.preview_container-boxing{
     padding-block: 75px;
     display: flex;
     flex-direction: column;
     gap: 50px;
}
.image-boxing{
    width: calc(100px + 30vw); 
    height: auto; 
}

.row-boxing{ 
    display: flex; 
    flex-direction: row;

    justify-content: center;
    align-items: center;
    padding-inline: 100px;
    gap: 50px;
}

.row-boxing h2{ 
    font-size: calc(5px + 2vw);
}

.row-boxing p{
    font-size: calc(1px + 2vw);

}

.column-boxing{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;

}

.photoGallery-boxing{ 
    background-color: transparent; 
    display:flex;
    flex-wrap: wrap;
    height: fit-content;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 20px; 
    padding-block: 20px; 

}
.placeholderImageFrame-boxing{
    height: 200px;
     width: 200px; 
     background-color: blue;
}



.ticketSaleContainer-boxing{
    display: inline-flex;
    font-size: calc(10px + 1vw); 
    gap: 50px;

    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.ticketSaleContainer-boxing button{
    outline: none;
    border: none; 
    border-radius: 5px; 
    background-color: #18206f; 
    color: white; 
    padding: 12px 24px;
    font-weight: medium;
    font-size: calc(5px + 1vw); 
    cursor: pointer; /*specifies the mouse icon when the element is on hover (ie, mouse-over) */ 
}

.ticketsCounter-boxing{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.removeCircleIcon-boxing, .addCircleIcon-boxing{
    cursor: pointer;
}

.ticketsCounter-boxing input{ 
    font-size: calc(5px + 1vw);
    width: fit-content; 
    text-align: center;
    border: none;
    outline: none; 
    width: 10vw;
}
