.container{ 
    display: flex; 
    flex-direction: row-reverse;
    gap: 125px;
    height: auto; 
    width: 100%; 
    align-items: flex-start;
    justify-content: center;
    padding-block: 50px;
}

.item_container{
    border: solid 2px rgb(0, 73, 128);
    color: black; 

    width: inherit; 
    height: fit-content; 
    margin: 10px; 
    padding-inline: 50px; 
    padding-block: 10px; 

    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    cursor: pointer; 
    gap: 10px; 
}
.item_container .event_item_checkbox{ 
    width: 2vh; 
    height: 2vh;

}
.item_container .text_details{
    display: block;
}

.item_container .img{
    height: calc(5px + 5vw);
    width: auto; 
    align-self: center;
     
}

.item_container h1{
    font-size: calc(1px + 1.5vw); 
    max-lines: 1; 
}


.events{
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 50vw;


}


.filter_menu{
background-color: transparent;
color: rgb(0, 0, 0);  
border-radius: 5px;
padding-block: 10px;
padding-inline: 50px;



}


.filter_section_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.filter_checbox_row{
    justify-content: space-between;
    display: flex;
}


.search_bar{
    width: 100%;
    font-size: calc(2px + 1vw);

}

.section_outer_container{
    margin-top: 50px;
}


.my_cart_quick_view_slip{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-block: 10px; 
    width: 100vw; 
    position: fixed;
    background-color: #18206f;
    bottom: 0px; 

}


.removeCircleIcon{

}

.addCircleIcon{

}

.text_details{
    width: 32vw;
}
.eventItemInstanceInCart{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px; 
    width: 50px;
    padding-inline: 10px; 

}
 
.my_cart_quick_view_slipz{
    z-index: 2; 
}

.my_cart_quick_view_slip h2{
    color: white;
}



.checkout_button{
    background-color: white; 
    color: #18206f;
    outline: none;
    border: none; 
    font-size: calc(10px + 1vw);
    border-radius: 5px;
    padding: 5px 50px;
    cursor: pointer; 
}