/*Anderson Blanco */
.boxing_container-boxing{ 
    display: flex; 
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding-top: 32px;
    padding-bottom: 48px;
   
}

.item_container-boxing{
    border: solid 2px rgb(0, 73, 128);
    color: black; 

    width: 60vw; 
    height: fit-content; 
    margin: 10px; 
    padding-inline: 50px; /* sets the padding equally for both -right and -left */
    padding-block: 10px; /* sets the padding equally for both -top and -bottom */

    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    cursor: pointer; 
    gap: 10px; 
}
.item_container-boxing .event_item_checkbox-boxing{ 
    width: 2vh; 
    height: 2vh;

}
.item_container-boxing .text_details-boxing{
    display: block;
}

.item_container-boxing .img-boxing{
    height: calc(5px + 5vw);
    width: auto; 
    align-self: center; /* the component aligns itself in reference to its parent cross axis (diagnal) */
     
}

.item_container-boxing h1{
    font-size: calc(1px + 1.5vw); 
    max-lines: 1; /* restricts the line number for the text to 1 when the viewport is shrunk, por expanded and the font size varies and dimensions of the tag / component*/
}


.events-boxing{
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 50vw;


}


.filter_menu-boxing{
background-color: transparent; /* sets the background to transparent., rather than colored*/
color: rgb(0, 0, 0);  
border-radius: 5px;
padding-block: 1px;
padding-inline: 50px;
gap: 50px;
display: flex;
flex-direction: column;


}


.filter_section_container-boxing{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.filter_checbox_row-boxing{
    justify-content: space-between; /* (horizontally) sets the space distibution between children to be between them with 0 gap between the inner walls and the next closes surface or children, ecccentially keeping the spacing restriucted to between the elements and not around if there arent children adjacent to each other*/
    display: flex;
}




.my_cart_quick_view_slip-boxing{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;/*  (horiozntally) distributes the spacing between the chjildren, and also between the children and inner walls of the parent ocntainer, to equal amounts */
    align-items: center;
    padding-block: 10px; 
    width: 100vw; 
    position: fixed;
    background-color: #18206f;
    bottom: 0px; 

}


.removeCircleIcon-boxing{

}

.addCircleIcon-boxing{

}

.text_details-boxing{
    width: 32vw;
}
.eventItemInstanceInCart-boxing{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;  /* sets the spacing between children*/
    width: 50px;
    padding-inline: 10px; 

}
 
.my_cart_quick_view_slipz-boxing{
    z-index: 2; 
}

.my_cart_quick_view_slip-boxing h2{
    color: white;
}



.checkout_button-boxing{
    background-color: white; 
    color: #18206f;
    outline: none;
    border: none; 
    font-size: calc(10px + 1vw);
    border-radius: 5px;
    padding: 5px 50px;
    cursor: pointer; 
}
