
/*  MAIN CONTENT SECTION  */
#main-museums-events {
    padding: 2%;
    background-color: #f5e2c8;
}

#main-museums-events .museum-heading-museums {
    font-size: calc(18.4px + .92vw);
    color: #18206f;
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: center;
}

#main-museums-events .button-museums{
    display: block;
    font-size: calc(18.4px + .46vw);
    color: #d88373;
    background-color: #1A3263;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    text-align: center;
    width: 20%;
    padding: 1%;
    text-decoration: none;
}

#main-museums-events #frames-museums{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
}

#main-museums-events #frames-museums img{
    padding: 1%;
    margin: 2%;
}

#main-museums-events #MFA-museums{
    width: 20vw;
}

#main-museums-events #ISG-museums{
    width: 20vw;
}

#main-museums-events #HAM-museums{
    width: 20vw;
}

#main-museums-events #ICA-museums{
    width: 20vw;
}


#main-museums-events .museum-details-museums {
    list-style: none;
    font-size: calc(14.95px + .345vw);
    color: #333333;
    padding-left: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    line-height: 1.8;
}

#main-museums-events .event-button-museums{
    background-color: #18206f;
    color: #ECE7D1;
    text-decoration: none;
    font-size: calc(9.2px + .46vw);
    padding: 2%;
}

/*expand button*/
#main-museums-events .collapsible-museums {
    background-color: #d88373;
    color: #18206f;
    cursor: pointer;
    width: 70%;
    border: none;
    text-align: center;
    font-size: calc(11.5px + .69vw);
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

#main-museums-events .button-two-museums {
    background-color: #d88373;
    color: #18206f;
    cursor: pointer;
    width: 60%;
    border: none;
    text-align: center;
    font-size: calc(5.75px + .69vw);
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    text-decoration: none;
}

#main-museums-events .content-museums {
    padding: 3%;
    display: none;
    overflow: visible;
    font-size: calc(18.4px + .46vw);

}

#main-museums-events .active-museums, #main-museums-events .collapsible-museums:hover {
    background-color: #17255a;
    color: #d88373;
}

/* PHOTOS OF MUSEUM */
#main-museums-events .museum-photo-museums {
    max-width: 100%;
    height: 20vw;
    object-fit: cover;
    display: block;
    margin-bottom: 0;
}
