/* Yana */

/*  MAIN SECTION  */
#main-clubs {
    max-width: 100%;
    padding: 3%;
    background-color: #f4f8f2;
}

#main-clubs #clubs-heading-clubs {
    font-size: calc(24px + 1.2vw);
    color: #18206f;
    margin-bottom: 2%;
    text-align: center;
}

/* AGE GATE */
#main-clubs #age-gate-clubs {
    width: 100%;
    max-width: 900px;
    margin: 0 auto 4% auto;
    padding: 5%;
    background-color: #ffffff;
    border: 3px solid #18206f;
    text-align: center;
}

#main-clubs #age-gate-clubs h3 {
    font-size: calc(24px + 1.05vw);
    color: #18206f;
    margin-bottom: 2%;
}

#main-clubs #age-gate-text-clubs {
    font-size: calc(15px + .525vw);
    margin-bottom: 3%;
}

#main-clubs #age-gate-clubs label {
    font-size: calc(15px + .45vw);
}

#main-clubs #age-clubs {
    width:22%;
    padding: 1% 2%;
    font-size: calc(15px + .45vw);
    border: 2px solid #18206f;
    color: #1a1a1a;
    margin-left: 1%;
}

#main-clubs #check-btn-clubs {
    border: none;
    padding: 1% 2%;
    background-color: #d88373;
    color: #50190f;
    cursor: pointer;
    font-size: calc(15px + .45vw);
}

#main-clubs #check-btn-clubs:hover {
    background-color: #d88373;
}

#main-clubs #output-clubs {
    margin-top: 1%;
    font-weight: bold;
    color: #50190f;
    font-size: calc(15px + .45vw);
}

#main-clubs #page-links-clubs {
    margin-top: 2%;
    display: none;
}

#main-clubs #page-links-clubs a {
    display: inline-block;
    margin: 1%;
    padding: 1.5% 3%;
    background-color: #18206f;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: calc(15px + .45vw);
}

#main-clubs #page-links-clubs a:hover {
    background-color: #18206f;
    color: #ffffff;
}

#main-clubs #link-18-clubs {
    display: none;
}

#main-clubs #link-21-clubs {
    display: none;
}


@media screen and (max-width: 980px) {
    #main-clubs #age-clubs {
        width: 60%;
        margin-right: 0;
        margin-bottom: 2%;
    }

    #main-clubs #check-btn-clubs {
        display: block;
        margin: 0 auto;
    }

    #main-clubs #page-links-clubs a {
        display: block;
        width: 80%;
        margin: 2% auto;
    }
}
