/*page made by Sara K --> information taken from w3 schools */
/* https://www.w3schools.com/howto/howto_css_timeline.asp */



/* sets the background color of the timeline */
.celeb_container {
    background-color: #F0F0DB;
    font-family: Helvetica, sans-serif;

    margin: auto;

    padding-bottom: 5%;
}

.timeline-container{
    padding-top: 5%;
}

/* This is what creates the outer container for the whole timeline */
.timeline {
    position: relative; /*makes this the reference point for anything inside with absolute positioning (like the vertical line)*/
    max-width: 1200px;
    margin: 0 auto;
}

/* This is what actually creates the vertical line going down the middle */
.timeline::after { /*:: resets the page so nothing looks random*/
    content: ''; /* needed so the pseudo element shows up*/
    position: absolute; /*lets you place it exactly where you want inside*/
    width: 6px; /* controls how the line looks*/
    background-color: white; /* controls how the line looks in terms of color*/
    top: 0; /*the line starts at the top*/
    bottom: 0; /* the line goes to the bottom*/
    left: 50%; /*this places the line in middle of the container*/
    margin-left: -3px; /* lets you shift the line slightly so it's perfectly centered (since it has width)*/
}

/* Container around content */
.container {
    padding: 10px 40px; /*space inside each timeline item*/
    position: relative;
    background-color: inherit; /*uses the parent's background color*/
    width: 36%; /* makes each item take up 36 percent the timeline*/

}

/* This creates the dots that sit on the timeline at each date */


.right::after {
    content: ''; /*required for pseudo-elements*/
    position: absolute;
    width: 25px; /* sets the size of the circle*/
    height: 25px; /*sets the height of the circle*/
    right: -17px; /*pushes the circle slightly outside of the container*/
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%; /*turns squares into circles*/
    z-index: 1; /*makes sure they appear above other elements*/
}


.left::after {
    content: ''; /*required for pseudo-elements*/
    position: absolute;
    width: 25px; /* sets the size of the circle*/
    height: 25px; /*sets the height of the circle*/
    right: calc(5.5 * -17px); /*pushes the circle slightly outside of the container*/
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%; /*turns squares into circles*/
    z-index: 1; /*makes sure they appear above other elements*/
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " "; /*required for pseudo-elements*/
    height: 0; /*when used with width:0, it helps make a triangle shape --> in this case the arrow*/
    position: absolute;
    top: 22px;
    width: 0; /*when used with height:0, it helps make a triangle shape --> in this case the arrow*/
    z-index: 1; /*makes sure they appear above other elements*/
    right: 30px;
    border: 2px solid white; /*this helps add a border so the triangle/arrow is complete*/
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " "; /*required for pseudo-elements*/
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1; /*makes sure they appear above other elements*/
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0; /*helps to define the triangle shape*/
    border-color: transparent white transparent transparent; /*makes it so one side is visible and finishes off the triangle shape*/
}


/* Fix the circle for containers on the right side */
.right::after {
    left: -16px; /*repositions the circle for the right side items*/
}

/* The actual content */
.content {
    padding: 20px 30px; /*space inside the box*/
    background-color: white;
    position: relative;
    border-radius: 6px; /*rounds the corners of the rectangle*/
    border: 2px solid black;
    height: fit-content; /*adjusts height based on the content inside the box*/
    width: 100%; /*fills the container*/
}

.content a{
text-decoration: underline;
}
img {
    object-fit: contain; /*helps to keep the image proportions (no stretching)*/
    height: 17vh;
    width: auto; /*makes the width adjust automatically*/
}

/* BUTTONS  - the clickable triggers that will open thr popup */
/* each button use position: absolute so you can place them anywhere */


/* BUTTON POSITIONS
top/left to move them.*/

#tea-btn {
    top: 84%; /*moves the position of the box up or down*/
    left: 78%; /*moves the position of the box left or right*/
}

#paul-btn {
    top: 118%; /*moves the position of the box up or down*/
    left: 39%; /*moves the position of the box left or right*/
}

#battle-btn {
    top: 153%; /*moves the position of the box up or down*/
    left: 78%; /*moves the position of the box left or right*/
}

#harbor-btn {
    top: 51%; /*moves the position of the box up or down*/
    left: 39%; /*moves the position of the box left or right*/
}

/* SHARED STYLE FOR EVERY BUTTON */

.pop-btn {
    position: relative;

    color: #ca0202; /*text color*/
    background-color: navy;
    padding: 5%; /*inner spacing*/
    border: none; /*removes default borders*/
    border-radius: 10px; /*creates rounded edges*/
    font-size: calc(5px + 1vw); /*responsive text sizing*/
    transition: background-color .2s ease; /* creates hover effect*/
    z-index: 2; /*sits above timeline elements*/
}

.pop-btn:hover {
    background-color: #30364F; /*changes color on hover*/
}

/* OVERLAY - the dark transparent backdrop that looks like a page
   covering the one behind */

#wrapper {
    font-family: Arial, sans-serif;
    position: fixed; /*stays in place even when scrolling*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(83, 83, 83, 0.75); /*semi-transparent overlay*/
    display: none;
    z-index: 3; /*sits above everything else*/
    justify-content: center; /*centers content only if display:flex is added to java script*/
    align-items: center;
}

/* Popup box - the panel that appears over the overlay */
.popup-box {
    background-color: #e3e3e3;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    z-index: 4; /*sits above everything else*/
    border: 3px solid #ffd700;
    display: none;
    overflow-y: auto; /*https://www.w3schools.com/cssref/playdemo.php?filename=playcss_overflow-y */
}

/* Inner box - the white content area inside the popup */
.inner {
    background-color: #ffffff;
    width: 80%; /*content fills less than the full screen*/
    height: 110%;
    margin: 4.5% auto; /*centers content*/
    padding-top: 2%;
    border: 2px double #c9a84c;
    position: relative;
}

/* Close button - the close button inside each popup */
.close-popup-btn {
    position: absolute;
    top: 2%;
    right: 3%;
    padding: 1% 2%;
    background-color: #ca0202;
    color: #e6e6e6;
    border-radius: 50px;
    font-size: calc(10px + .5vw);
    text-transform: uppercase; /*makes text all capital letters*/
    z-index: 5;
}

.close-popup-btn:hover {
    color: #ca0202;
    background-color: #e6e6e6;
    border-color: #ca0202;
}

/* Popup header - title + subtitle row in popup */
.inner-head {
    display: flex; /*puts things nect to each other in a row*/
    flex-direction: row; /*makes them go left to right*/
    flex-wrap: wrap; /*lets content title move to a new line if needed*/
    align-items: baseline; /*lines up the text*/
    border-radius: 14px; /*rounds corners*/
    background-color: #e1dfd0;
    width: 90%; /*not the full width*/
    margin: 0 auto; /*centers the items*/
    padding: 1% 2%;
}

.pop-title {
    font-size: calc(10px + 3vw);
    color: navy;
    margin: 0 0 1% 2%; /*adds spacing around item*/
}

.pop-subtitle {
    font-size: calc(8px + .85vw);
    color: #373636;
    font-style: italic;
    margin-left: 5%; /*adds space on the left side of the element*/
}

.pop-body {
    width: 90%;
    margin: 3% auto; /*centers item but also adds padding/space around*/
    padding: 2%;
}

.pop-body h3 {
    font-size: calc(8px + 1vw);
    color: #333;
}

.pop-body p {
    font-size: calc(6px + .8vw);
    margin-top: 3%;
    color: #333
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timeline to the left */
    .timeline::after {
        left: 31px; /*moves the vertical line away from the center and over ot the left*/
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px; /*extra padding on the left*/
        padding-right: 25px; /*extra padding on the right*/
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px; /*positions the arrow closer to the left side*/
        border: medium solid white;
        border-width: 10px 10px 10px 0; /*creates a triangle shape by controlling each side of the border*/
        border-color: transparent white transparent transparent; /*makes only one side visible*/
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px; /*moves all the circles to the same position*/
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }

    #tea-btn{
        top: 20%;
    }

    #paul-btn {

    }

    #harbor-btn{

    }

    #battle-btn {

    }
}
